[submodule "externals/assimp"]
	path = externals/assimp
	url = https://github.com/assimp/assimp.git
[submodule "externals/imgui"]
	path = externals/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "externals/stb"]
	path = externals/stb
	url = https://github.com/nothings/stb.git
[submodule "externals/glfw"]
	path = externals/glfw
	url = https://github.com/glfw/glfw.git
[submodule "externals/glm"]
	path = externals/glm
	url = https://github.com/g-truc/glm.git
[submodule "externals/imgui-addons"]
	path = externals/imgui-addons
	url = https://github.com/gallickgunner/ImGui-Addons.git
[submodule "externals/jsonxx"]
	path = externals/jsonxx
	url = https://github.com/hjiang/jsonxx.git
